{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link href="{% static "css/blog/edit.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container editor">
    <form method="post" name="qwe">
		{% csrf_token %}
        <input type="text" name="title" placeholder="Заголовок..." id="post-title" class="editor__title ce-block__content">
        <div id="editorjs" name="content"></div>
    </form>
		<button id="saveButton">Save</button>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>  <!-- Core -->

    <script src="{% static 'js/editorjs/code.js' %}"></script> <!-- Code -->
    <script src="{% static 'js/editorjs/image.js' %}"></script> <!-- Image -->

    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script> <!-- List -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script> <!-- Images -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script> <!-- Inline code -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script> <!-- Delimeter -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script> <!-- Quote -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script> <!-- Warning -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script> <!-- Marker -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script> <!-- Header -->
{% endblock %}

{% block domready %}
const saveButton = document.getElementById('saveButton');


const editor = new EditorJS({
	holder: 'editorjs',
	tools: {
        image: {
      class: ImageTool,
      config: {
        uploader: {
          /**
           * Upload file to the server and return an uploaded image data
           * @param {File} file - file selected from the device or pasted by drag-n-drop
           * @return {Promise.<{success, file: {url}}>}
           */
          uploadByFile(file){
        var fd = new FormData();
        fd.append('image',file);
            // your own uploading logic here
            return $.ajax({
                url: '{% url "blog:upload_image" %}',
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                success: function(response){
                    return 1
                },
            })
          },
        },
        endpoints: {
          byFile: '{% url "blog:upload_image" %}', // Your backend file uploader endpoint
          byUrl: 'http://localhost:8008/fetchUrl', // Your endpoint that provides uploading by Url
        }
      }
    },
		header: Header,
	    list: {
	      class: List,
	      inlineToolbar: true
	    },
	    inlineCode: {
	      class: InlineCode,
	      shortcut: 'CMD+SHIFT+M',
	    },
	    delimiter: Delimiter,
	    quote: {
	      class: Quote,
	      inlineToolbar: true,
	      shortcut: 'CMD+SHIFT+O',
	      config: {
	        quotePlaceholder: 'Enter a quote',
	        captionPlaceholder: 'Quote\'s author',
	      },
	  	},
	  	warning: {
	      class: Warning,
	      inlineToolbar: true,
	      shortcut: 'CMD+SHIFT+W',
	      config: {
	        titlePlaceholder: 'Title',
	        messagePlaceholder: 'Message',
	      },
	    },
	    Marker: {
	      class: Marker,
	      shortcut: 'CMD+SHIFT+M',
	    },
	    codeBox: {
          class: CodeBox,
          config: {
            themeURL: 'https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/styles/dracula.min.css', // Optional
            themeName: 'atom-one-dark', // Optional
            useDefaultTheme: 'light' // Optional. This also determines the background color of the language select drop-down
          }
        },
	},
});
saveButton.addEventListener('click', function () {
      editor.save().then((savedData) => {
		var title = $("#post-title").val();
		$.ajax({
        url: '',
        type: 'POST',
        data: { json: JSON.stringify({
			"title": title,
            "content": savedData,
        })},
        statusCode: {
            200: function(msg) {
                $("#popup").append(msg.responseText);
                console.log(msg.responseText);
            }
        },
        dataType: 'json',
        });
      });
    });

{% endblock %}