{% load static %}
<link href="{% static "css/blog/edit.css" %}" rel="stylesheet">
<div class="save_post">
    <div class="popup_form">
        <h1 id="popup_form__close" style="float: right; cursor: pointer;">&times;</h1>
        <h2>Почти готово</h2>
        <form method="post" name="final_save" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="post_id" type="hidden" value="{{ post_id }}">
            <div class="presave">
                <div class="preview">
<!--                    <div class="preview__image" id="preview_image">-->
<!--                    </div>-->
                    <img class="preview__image" id="preview_image" src="{{ post_preview.url }}">
                    <input type="file" name="image" accept="image/*" onchange="showPreview(this);">
                    <div class="preview__title">
                        <h3>Заголовок:</h3>
                        <input type="text" value="{{ title }}" name="title">
                    </div>
                    <div class="preview__desc">
                        <h3>Описание:</h3>
                        <textarea name="description">{{ post_desc }}</textarea>
                    </div>
                </div>
                <div class="tags">
                    <h2>Тэги:</h2>
                    <input name="tags" id="tag_input" type="text" value="{% for tag in post_tags.all %}{{tag}}, {% endfor %}">
                    <div class="post_tags" id="show_tags"></div>
                </div>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="draft_save">Сохранить</button>
            <button class="btn btn-success my-2 my-sm-0" type="submit" name="final_save">Сохранить и Опубликовать</button>
        </form>
    </div>
</div>

<script>
$("#tag_input").ready(function(){
    $("#show_tags").empty();
    for (tag of $("#tag_input").val().split(", ")) {
        $("#show_tags").append("<div class=tag> "+ tag +"</div>");
    }
});
$("#tag_input").on('input', function(){
    $("#show_tags").empty();
    for (tag of $("#tag_input").val().split(", ")) {
        $("#show_tags").append("<div class=tag> "+ tag +"</div>");
    }
});
$("#popup_form__close").click(function() {
  $("#popup").empty();
});
function showPreview(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview_image')
                    .attr('src', e.target.result)
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>