{% load static %}
<link href="{% static "css/components/navbar.css" %}" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class='container'>
        <a class="navbar-brand" href="{% url 'blog:main_page' %}">LOGOTYPE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="navbar-form form-inline my-2 my-lg-0">
                <div class="searchbar form-inline my-2 my-lg-0">
                    <input class=" form-control mr-sm-2 search_input" type="text" name="" placeholder="Поиск...">
                    <button class=" btn search_icon"><i class="fa fa-search"></i></button>
                </div>
                {% if not request.user.is_anonymous %}
                <div>
                    <a class="btn" href="{% url 'members:profile' %}" style='color:green' type="submit">Профиль</a>
                    <a href="{% url 'blog:create_post' %}" class="btn btn-outline-success my-2 my-sm-0" role="button">
                        Поделиться с миром
                    </a>
                </div>
                {% else %}
                <div>
                    <a class="btn" href="{% url 'members:login' %}" style='color:green' type="submit" role="button">
                        Войти
                    </a>
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'members:register' 'register' %}" style='color:green' type="submit" role="button">
                        Регистрация
                    </a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</nav>